header {
  position: relative;
  background-color: rgba(165, 131, 100, 0.8);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(139, 83, 30);
  border-radius: 20px;
  padding: 0px;
  display: inline-block;
}
header h1 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 50px;
  font-family: "Optima", sans-serif;
  text-align: center;
<<<<<<< HEAD
  color: rgb(16, 12, 12);
=======
  color: rgb(2, 2, 2);
>>>>>>> 454e40b8b413a630effbbb83ba34fe408429ab4c
}

#img {
  width: 300px;
  height: 150px;
  padding: 10px 10px;
  margin: 0px 0px 0px 0px;
  display: flex;
}

#img img {
  position: relative;
  top: -190px;
  margin-left: 5px;
  margin-top: 10px;
  height: 50%;
}
