div {
  text-align: center;
}
#carte1 {
  margin: 0px 500px 0px 340px;
}
h1 {
  color: rgb(139, 83, 30);
}

p {
  background-attachment: scroll;
  font-size: 20px;
  margin: 0px;
  font: Georgia, "Times New Roman", Times, serif;
}

#slogan {
  min-height: 60px;
  margin: 0px 300px;
  padding: 10px 40px 40px;
  font: 1em/150% sans-serif;
  font-size: 20px;
  position: relative;
  background-color: rgba(165, 131, 100, 0.8);
  border-radius: 5px;
  top: -150px;
  bottom: 0px;
}

#slogan::before {
  position: absolute;
  height: 3rem;
  font: 6rem/100% Georgia, "Times New Roman", Times, serif;
  content: "“";
  top: 0.3rem;
  left: 0.9rem;
}

#slogan::after {
  position: absolute;
  height: 3rem;
  font: 6rem/100% Georgia, "Times New Roman", Times, serif;
  content: "”";
  bottom: 0.3rem;
  right: 0.8rem;
}

i {
  display: block;
  font-size: 20px;
  margin-top: 10px;
  font-style: italic;
  text-align: right;
}

#Commencer {
  width: 100px;
}
