nav ul {
  position: relative;
  width: 1200px;
  text-align: center;
  margin: 25px 70px;
  padding: 10px 5px 10px 5px;
  border-style: double;
  border-width: 5px;
  border-color: rgb(139, 83, 30);
  list-style-type: none;
  display: inline-block;
}
nav li {
  font-size: 20px;
  display: inline;
  margin: 30px;
  padding: 10px 5px 10px 5px;
  border-width: 0px;
}
#link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#link:hover {
  background: linear-gradient(rgb(255, 255, 255), rgb(161, 122, 86));
}
