.bouton {
  color: white;
  background-color: rgb(201, 99, 119);
  width: 200px;
  margin: 100px 100px 500px 240px;
  position:relative;
}
header {
  background-color: beige;
  border-radius: 10px;
}
header h1 {
  text-align: center;
  margin-bottom: 7px;
}
